{{ block title }}
    Période {{ player.round_number }}. Vote (Majorité simple)
{{ endblock }}
{{ block content }}

    <!-- {{ formfields }} -->
 {{for field in form}}
    {{field.label}} : <br>
    {{for choice in field}} <input type="radio" id="{{choice.id}}" name="{{field.short_name}}" value={{choice.data}} > <label for="{{choice.id}}" style="display:inline-block;width:100px;height:20px;border:1px solid black;background-color:{{choice.label.text}}"></label>
    {{if group.option_att == choice.data}}
    (<u>option attaquée avec {{group.n_votes_en_plus}} vote{{if group.n_votes_en_plus > 1}}s{{endif}} en plus</u>)
    {{endif}}
    <br><br> {{endfor}}
    <hr>
{{endfor}}
    {{ next_button }}

{{ endblock }}
